---
name: Prepare Dev to Main

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  pull-request:
    runs-on: ubuntu-latest
    outputs:
      pull-request-url: ${{ steps.create_pr.outputs.pull-request-url }}
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: "dev"
      - name: Create Pull Request
        id: create_pr
        uses: actions/github-script@v7
        with:
          script: |
            const pr = await github.rest.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: `chore(PRA-000): Promote dev to main`,
              head: "dev",
              base: "main"
            });
            core.setOutput('pull-request-url', pr.data.html_url);
          github-token: ${{ github.token }}
...